// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "_settings.scss";
$include-xl-html-grid-classes: true;

$global-flexbox: true;
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

.icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'frontier' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr:before {
  content: "\e901";
  font-size: 17px;
}
.icon-linkedin {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
}
.icon-linkedin:before {
  content: "\e919";
}


.icon {
  &:before {
    content: "";
    display: inline-block;
  }
}
//
// .icon-drift {
//   &:before {
//     content: $icon-drift;
//   }
// }
// .icon-arr {
//   width: 21px;
//   height: 17px;
//   stroke-width: 2px;
//   stroke: $black;
//   fill: none;
//   stroke-linecap:round;
//   stroke-linejoin:round;
//   transition: all $default-time;
//   margin-top: 3px;
// }
// .icon-enlarge {
//   &:before {
//     content: $icon-enlarge;
//   }
// }
// .icon-reduce {
//   &:before {
//     content: $icon-reduce;
//   }
// }
.icon-lower-cost {
  &:before {
    width: 52px;
    height: 32px;
    background: url(%=static=%assets/our-customers/lower-cost.svg) center center/cover no-repeat;
  }
}
.icon-7 {
  &:before {
    width: 46px;
    height: 46px;
    background: url(%=static=%assets/our-customers/7.svg) center center/cover no-repeat;
  }
}
.icon-short-response {
  &:before {
    width: 40px;
    height: 29px;
    background: url(%=static=%assets/our-customers/short-response.svg) center center/cover no-repeat;
  }
}
.icon-cube {
  &:before {
    width: 40px;
    height: 45px;
    background: url(%=static=%assets/our-customers/cube.svg) center center/cover no-repeat;
  }
}
.icon-speed {
  &:before {
    width: 50px;
    height: 36px;
    background: url(%=static=%assets/our-customers/speed.svg) center center/cover no-repeat;
  }
}
.icon-money-box {
  &:before {
    width: 49px;
    height: 36px;
    background: url(%=static=%assets/our-customers/money-box.svg) center center/cover no-repeat;
  }
}
.icon-standart {
  &:before {
    width: 42px;
    height: 49px;
    background: url(%=static=%assets/our-customers/standart.svg) center center/cover no-repeat;
  }
}
.icon-analitics {
  &:before {
    width: 53px;
    height: 48px;
    background: url(%=static=%assets/our-customers/analitics.svg) center center/cover no-repeat;
  }
}
.icon-man-net {
  &:before {
    width: 47px;
    height: 41px;
    background: url(%=static=%assets/our-customers/net.svg) center center/cover no-repeat;
  }
}
// .icon-wealth {
//   &:before {
//     content: $icon-wealth;
//   }
// }
// .icon-baloon {
//   &:before {
//     content: $icon-baloon;
//   }
// }
.icon-box {
  width: 68px;
  height: 73px;
  display: block;

  svg {
    transition: all $default-time;
  }
}
.icon-hands {
  width: 76px;
  height: 47px;
  display: block;

  svg {
    transition: all $default-time;
  }
}
.icon-pen {
  width: 56px;
  height: 89px;
  display: block;

  svg {
    transition: all $default-time;
  }
}
// .icon-prosjektledelse {
//   &:before {
//     content: $icon-prosjektledelse;
//   }
// }
// .icon-overvakning {
//   &:before {
//     content: $icon-overvakning;
//   }
// }
// .icon-tilleggstjenester {
//   &:before {
//     content: $icon-tilleggstjenester;
//   }
// }
// .icon-consulring {
//   &:before {
//     content: $icon-consulring;
//   }
// }
// .icon-underline {
//   &:before {
//     content: $icon-underline;
//   }
// }
// .icon-scroll-Down {
//   &:before {
//     content: $icon-scroll-Down;
//   }
// }
.icon-linkedin {
  &:before {
    width: 30px;
    height: 30px;
    background: url(%=static=%general/linkedin.svg) center center/cover no-repeat;
  }
}
.icon-twitter {
  &:before {
    width: 30px;
    height: 30px;
    background: url(%=static=%general/twitter.svg) center center/cover no-repeat;
  }
}
.icon-facebook {
  &:before {
    width: 30px;
    height: 30px;
    background: url(%=static=%general/facebook.svg) center center/cover no-repeat;
  }
}

h1 {
  font-family: $titleFont;
  font-size: rem-calc(24);
  margin-bottom: $margin-2;

  @include breakpoint(medium) {
    font-size: rem-calc(40);
    margin-bottom: $margin-4;
  }
}

h2 {
  font-size: rem-calc(28);
  @include breakpoint(medium) {
    font-size: rem-calc(40);
    margin-bottom: $margin-4;
  }
}

h1, h2, h3, h4 {
  font-family: $titleFont;
  line-height: 1.28;
}

.decor-title {
  text-align: center;
  position: relative;
  margin-bottom: 51px;
  line-height: 1.3;
  @include breakpoint(medium) {
    margin-bottom: 63px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 16px;
    bottom: -26px;
    position: absolute;
    left: 0;
    background: url(%=static=%general/wave-small.svg) center center no-repeat;
    text-align: center;
    @include breakpoint(medium) {
      background: url(%=static=%general/wave.svg) center center no-repeat;
      font-size: rem-calc(15);
      bottom: -25px;
    }
  }

  &.white {
    color: #fff;

    &::before {
      background: url(%=static=%general/wave-white.svg) center center no-repeat;
    }
  }
}

.load-more {
  border-radius: $border-radius;
  border: 2px solid $line-color;
  font-family: $ProximaBold;
  padding: 9px 25px;
  display: block;
  margin: auto;
  width: 210px;
  transition: all $default-time;
  color: $black;
  text-align: center;

  &:hover {
    background: $brand-secondary-color;
    border-color: $brand-secondary-color;
    color: #fff;
  }
}

.back-button {
  margin: $margin-2 0;
  display: inline-block;
  color: $black;
  transition: all $default-time ;
  @include breakpoint(medium) {
    margin: $margin-4 0 $margin-3;
  }

  svg {
    margin-right: $margin-1;
    display: inline-block;
    transform: rotate(180deg);
    margin-top: 0;
    margin-bottom: -3px;
    @include breakpoint(medium) {
    }
  }

  span {
    border-bottom: 2px solid;
    font-size: rem-calc(18);
    font-family: $ProximaBold;
    line-height: 1.33;
    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }
  }
}
