//variables colors
$brand-color: #192A67;
$brand-secondary-color: #E63331;
$line-color: rgba(#000, .2);
$footer-bg: $brand-color;

//variables margin
$margin-1: 10px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 40px;
$margin-5: 50px;
$margin-6: 60px;
$margin-7: 70px;
$margin-8: 80px;

//fonts
$ProximaBlack: proxima_nova_altblack;
$ProximaBold: proxima_nova_altbold;
$Proxima: 'Proxima Nova';
//$ProximaThin: proxima_nova_scosfthin;
$ProximaSemi: proxima_nova_ltsemibold;
$ProximaThin: proxima_nova_ltthin;

//variables for icons
$icon-drift: "\e900";
$icon-arr: "\e901";
$icon-enlarge: "\e902";
$icon-reduce: "\e903";
$icon-lower-cost: "\e904";
$icon-7: "\e905";
$icon-short-response: "\e906";
$icon-cube: "\e907";
$icon-speed: "\e908";
$icon-money-box: "\e909";
$icon-standart: "\e90a";
$icon-analitics: "\e90b";
$icon-man-net: "\e90c";
$icon-wealth: "\e90d";
$icon-baloon: "\e90e";
$icon-box: "\e90f";
$icon-hands: "\e911";
$icon-pen: '';
$icon-prosjektledelse: "\e913";
$icon-overvakning: "\e914";
$icon-tilleggstjenester: "\e915";
$icon-consulring: "\e916";
$icon-underline: "\e917";
$icon-scroll-Down: "\e918";
$icon-LinkedIn: "\e919";
$icon-Twitter: "\e91a";
$icon-facebook: "\e91b";

$header-height: 160px;
$header-height-medium: 140px;
$header-height-small: 100px;


$default-time: .3s;

$border-radius: 2px;
