.home-news {
  margin-bottom: $margin-2;

  @include breakpoint(medium) {
    margin-bottom: 89px;
  }

  .news-grid {
    @include breakpoint(medium) {
      @include breakpoint(medium) {

      }
      margin-top: 82px;
    }
  }

  .news-grid .news-item__date {
    margin: 0 0 $margin-1;
  }
}
