.home-news {
  margin-bottom: 68px;

  @include breakpoint(medium) {
    margin-bottom: 56px;
  }
  @include breakpoint(large) {
    margin-bottom: 89px;
  }

  .news-grid {
    margin: 0 10px;

    @include breakpoint(medium) {
      margin: 82px 0 0;
    }
  }

  .news-item {
    margin-bottom: 9px;
    @include breakpoint(medium) {
      margin-bottom: $margin-3;
    }
    @include breakpoint(large) {
      margin-bottom: $margin-4;
    }
  }

  .news-grid .news-item__date {
    margin: 0 0 $margin-1;
  }

  .slick-slide {
    margin: 0 10px;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
}


.all-news {
  @extend #{'.news-item'};
  min-height: 0;
  width: auto;
  display: inline-flex;
  align-items: center;
  font-family: $ProximaBold;
  position: relative;
  overflow: visible;
  margin: 8px $margin-2 8px;

  @include breakpoint(medium) {
    border: 1px solid $line-color;
    padding: $margin-3;
    margin: 0 $margin-3 $margin-3 0;
  }

  @include breakpoint(large) {
    margin: 0 $margin-3 $margin-4 0;
    padding: $margin-4;
  }

  .icon-arr {
    font-size: 17px;
    transform: rotate(180deg);
    margin-top: 2px;
    color: $black;
    transition: all $default-time;
  }

  &:hover {
    .icon-arr {
      color: $black;
      @include breakpoint(large) {
        color: #fff;
      }
    }
    span {
      color: $black;
      @include breakpoint(large) {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    color: $black;
    border-bottom: solid 2px $black;
    margin-right: 7px;
    transition: all $default-time;
  }
}
