.home-references {
  @include breakpoint(medium) {
    margin: 35px 0 0
  }

  @include breakpoint(large) {
    margin: 74px 0 0
  }

  .home-partner__list a {
    opacity: .5;

    &:hover {
      @include breakpoint(large) {
        opacity: 1;
      }
    }
  }
}
