<div class="row align-center">
  <div class="columns small-12 large-10">
    <div class="footer__list">
      <a href="/" class="logo"><img src="%=static=%img/general/logo-footer.svg" alt="frontier"></a>
      <div class="footer__contacts">
        <p>8352 Sennesvik, Norway</p>
        <p><a href="tel:+4795057490">+47 950 57 490</a></p>
        <p><a href="mailto:contact@frontiernorway.com">contact@frontiernorway.com</a></p>
      </div>
      <div class="footer__copyright">
        <p>Frontier Infrastrcuture © 2017</p>
      </div>
    </div>
  </div>
</div>
