.footer {
  background-color: $brand-color;
  padding: $margin-4 0;
  color: #fff;
  margin-top: $margin-2;

  @include breakpoint(medium) {
    padding: $margin-5 0;
    margin-top: $margin-6;
  }

  a:not(.logo) {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid;
  }

  p {
    margin: 0 0 5px;
  }

  .logo {
    margin-bottom: $margin-4;
    display: inline-block;
    @include breakpoint(medium) {
      float: left;
    }
  }

  &__contacts {
    margin-bottom: $margin-4;
    @include breakpoint(medium) {
      float: right;
      padding-top: 25px;
      margin-bottom: 0;
    }
  }

  &__copyright {
    @include breakpoint(medium) {
      float: left;
      width: 52%;
    }
    @include breakpoint(large) {
      width: 65%;
    }
  }
}
