.footer {
  background-color: $brand-color;
  padding: $margin-4 0;
  color: #fff;
  margin-top: $margin-8;

  @include breakpoint(medium) {
    padding: 62px 0;
  }

  @include breakpoint(large) {
    margin-top: 120px;
  }

  a:not(.logo) {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid;
  }

  p {
    margin: 0 0 7px;

    @include breakpoint(medium) {
      margin: 0 0 3px;
    }
  }

  .logo {
    margin-bottom: 32px;
    display: inline-block;
    @include breakpoint(medium) {
      float: left;
    }
  }

  &__contacts {
    margin-bottom: 37px;
    @include breakpoint(medium) {
      float: right;
      padding-top: 19px;
      margin-bottom: 0;
      text-align: right;
    }
  }

  &__copyright {
    @include breakpoint(medium) {
      float: left;
      width: 52%;
    }
    @include breakpoint(large) {
      width: 65%;
    }
  }
}
