<div class="home-top__contain" style="background-image: url({{image}})">
  <h1>{{title}}</h1>
  <span>{{desc}}</span>
</div>
<span class="scroll-down">
  <svg class="mouse" width="24px" height="36px" viewBox="0 0 24 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke-width="1" fill-rule="evenodd" transform="translate(-708.000000, -740.000000)">
          <g transform="translate(678.000000, 740.000000)">
              <g transform="translate(30.000000, 0.000000)">
                  <rect stroke-width="2" x="1" y="1" width="22" height="34" rx="11"></rect>
                  <circle cx="12" cy="12" r="2"></circle>
              </g>
          </g>
      </g>
  </svg>
  <svg class="arr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.33 17"><defs><style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>arr</title><path class="a" d="M16.67,8.5H1.33" transform="translate(-0.33)"/><polyline class="a" points="8 16 16.33 8.5 8 1"/></svg>
  <span>{{scroll}}</span>
</span>
