.home-top {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-bottom: $margin-4;
  @include breakpoint(large) {
    margin-bottom: $margin-7;
  }
}

.home-top__contain {
  height: calc(100% - #{$header-height-small} - #{$header-height-small});
  width: calc(100% - #{$margin-2} - #{$margin-2});
  margin: 0 $margin-2 $margin-2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: $margin-2;

  @include breakpoint(medium) {
    height: calc(100% - #{$header-height-medium} - #{$header-height-medium - 20});
    width: calc(100% - #{$margin-4} - #{$margin-4});
    padding: $margin-4;
  }

  @include breakpoint(large) {
    height: calc(100% - #{$header-height} - #{$header-height});
    width: calc(100% - #{$margin-8} - #{$margin-8});
    margin: 0 $margin-8 $margin-4;
    padding: 100px;
  }

  h1 {
    max-width: 970px;
    font-family: $Proxima;
  }

  span {
    font-size: rem-calc(36);
    display: block;
    max-width: 630px;
    line-height: 1.1;
  }
}

.scroll-down {
  color: rgba($black, .5);
  font-size: rem-calc(16);
  text-align: center;

  span {
    display: block;
  }

  .icon {
    font-size: rem-calc(36);
    line-height: 1.2;
  }
}
