.home-top {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
  align-items: center;
}

.home-top__contain {
  height: calc(100% - #{$header-height-small} - 80px});
  width: calc(100% - #{$margin-2} - #{$margin-2});
  min-height: 350px;
  margin: 0 $margin-2 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: $margin-2;

  @include breakpoint(medium) {
    height: calc(100% - #{$header-height-medium} - #{$header-height-medium - 20});
    width: calc(100% - #{$margin-4} - #{$margin-4});
    padding: 0 $margin-4 $margin-5;
  }

  @include breakpoint(large) {
    height: calc(100% - 120px - 120px);
    width: calc(100% - 5rem);
    margin: 0 2.5rem;
    padding: 100px;
  }

  @media (min-width: 1440px) {
    margin: 0 $margin-8;
    width: calc(100% - #{$margin-8} * 2;
  }

  h1 {
    max-width: 970px;
    font-size: rem-calc(32);
    line-height: 1.3;
    @include breakpoint(medium) {
      font-size: rem-calc(50);
      margin-bottom: $margin-1;
    }
    @include breakpoint(large) {
      margin-bottom: $margin-4;
    }
  }

  span {
    font-size: rem-calc(28);
    display: block;
    max-width: 630px;
    line-height: 1.28;
    @include breakpoint(medium) {
      line-height: 1.1;
      font-size: rem-calc(36);
    }
  }
}

.scroll-down {
  color: rgba($black, .5);
  font-size: rem-calc(16);
  text-align: center;
  margin: $margin-2 0;
  transition: all $default-time;
  cursor: pointer;
  @include breakpoint(medium) {
    margin: $margin-4 0;
  }
  @include breakpoint(large) {
    margin: $margin-5 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: rgba($black, .75);

    svg {
      stroke: rgba($black, .75);

      circle {
        fill: rgba($black, .75);
      }
    }
  }
  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  svg {
    stroke: #8E8E8E;
    fill: #fff;
    opacity: .5;
    transition: all $default-time;

    circle {
      fill: #8E8E8E;
    }

    &.mouse {
      display: none;
      @include breakpoint(medium) {
        display: inline-block;
      }
    }
    &.arr {
      display: inline-block;
      width: 16px;
      transform: rotate(90deg);
      @include breakpoint(medium) {
        display: none;
      }
    }
  }



  span {
    display: block;
  }

  .icon-scroll-Down {
    font-size: rem-calc(36);
    line-height: 1.2;
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }

  .icon-arr {
    transform: rotate(-90deg);
    color: #C7C7C7;
    margin-bottom: 4px;
    @include breakpoint(medium) {
      display: none;
    }
  }
}
