<section class="home-map hideme">
  <img src="%=static=%img/assets/home-map/map.jpg" width="100%">
  <img class="active" src="%=static=%img/assets/home-map/map-active.jpg" width="100%">
  <div class="home-map__list">
    <ul>
      {{#each homeMapList }}
        <li>
          <a href="#" class="home-map__item {{this.class}}"></a>
          <div class="home-map__item-list">
            <button class="close-button" data-close="" aria-label="Close modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
            <span class="home-map__item-title">{{this.title}}</span>
            <ul>
              {{#each this.homeMapItemList}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="home-map__toggle icon">
    <svg xmlns="http://www.w3.org/2000/svg" class="in" width="39" viewBox="0 0 31.03 31.17">
      <path d="M22.7,12.65a10,10,0,1,0-10,10,10,10,0,0,0,10-10Zm2.23,0A12.28,12.28,0,1,1,12.65.37,12.28,12.28,0,0,1,24.93,12.65Zm6.14,17a1.12,1.12,0,1,1-1.58,1.58L20,21.74a1.12,1.12,0,1,1,1.58-1.58ZM11.53,8.93a1.12,1.12,0,0,1,2.23,0v7.44a1.12,1.12,0,0,1-2.23,0Zm4.84,2.6a1.12,1.12,0,0,1,0,2.23H8.93a1.12,1.12,0,0,1,0-2.23Z" transform="translate(-0.37 -0.37)"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="out" width="39" viewBox="0 0 31.03 31.17">
      <path d="M22.7,12.65a10,10,0,1,0-10,10,10,10,0,0,0,10-10Zm2.23,0A12.28,12.28,0,1,1,12.65.37,12.28,12.28,0,0,1,24.93,12.65Zm6.14,17a1.12,1.12,0,1,1-1.58,1.58L20,21.74a1.12,1.12,0,1,1,1.58-1.58Zm-14.7-18.1a1.12,1.12,0,0,1,0,2.23H8.93a1.12,1.12,0,0,1,0-2.23Z" transform="translate(-0.37 -0.37)"/>
    </svg>
  </div>
</section>
