.home-map {
  position: relative;
  display: none;
  margin: 0 0 87px;
  z-index: 100;
  @include breakpoint(medium) {
    display: block;
  }
  @include breakpoint(large) {
    margin: 0 0 126px;
  }

  &.active {
    .home-map__item {
      opacity: 1;
    }

    img {
      opacity: 0;
    }

    img.active  {
      opacity: 1;
    }
  }

  img.active {
    //opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  img {
    transition: all $default-time ease-in;
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: $brand-secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include breakpoint(large) {
      width: 120px;
      height: 120px;
    }

    &:hover {
      svg {
        width: 43px;
      }
    }

    svg {
      fill: #fff;
      transition: all $default-time;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .out {
      opacity: 0;
    }

    &.active {
      .in {
        opacity: 0;
      }
      .out {
        opacity: 1;
      }
    }
  }

  &__list {
    &>  ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__item-list {
    position: absolute;
    background-color: #fff;
    padding: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    box-shadow: 5px 14px 40px 0 rgba($black, .3);
    border-radius: $border-radius;
    z-index: 100;
    transition: opacity  $default-time;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 11px 12px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      top: 23px;
      left: -11px;
    }

    &.active {
      opacity: 1;
      padding: $margin-4;
      height: auto;
      overflow: visible;
    }
  }

  &__item {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    border: 7px solid rgba(#000, .2);
    opacity: 0;
    transition: all $default-time;

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      border-color: #fff;
      background-color: $brand-secondary-color;
    }

    &-title {
      font-family: $ProximaBold;
      margin-bottom: $margin-1;
      font-size: rem-calc(24);
    }
  }

  .spot1 {
    top: 17%;
    left: 21.8%;

    & + div {
      top: calc(17% - 10px);
      left: calc(21.8% + 77px);
    }
  }

  .spot2 {
    top: 30.6%;
    left: 44%;

    & + div {
      top: calc(30.6% - 10px);
      left: calc(44% + 77px);
    }
  }

  .spot3 {
    top: 70.1%;
    left: 31.5%;

    & + div {
      top: calc(70.1% - 10px);
      left: calc(31.5% + 77px);
    }
  }

  .spot4 {
    top: 70%;
    left: 60.4%;

    & + div {
      top: calc(70% - 10px);
      left: calc(60.4% + 77px);
    }
  }
  .spot5 {
    top: 19%;
    left: 80.4%;

    & + div {
      top: calc(19% - 10px);
      right: calc(16% + 77px);

      &:after {
        left: auto;
        right: -11px;
        border-width: 12px 0 12px 11px;
        border-color: transparent transparent transparent #fff;
      }
    }
  }
}
