<div class="home-concept hideme" id="concept">
  <div class="row align-center">
    <div class="columns small-12">
      <h2 class="decor-title icon-underline">{{title}}</h2>
      <p class="section-description">{{description}}</p>
      <div class="home-concept__list-contain">
        <div class="home-concept__list js-home-concept__list">
          {{#each homeConceptList }}
            <div class="home-concept__list-item">
              <i class="{{this.icon}}">
                {{{this.img}}}
              </i>
              <h3>{{this.title}}</h3>
              <p>{{{this.shortDesc}}}</p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scheme hideme">
  <div class="scheme__img-contain">
    <img src="%=static=%img/assets/home-concept/concept.png" alt="{{title}}" class="scheme__img">
  </div>
  <div class="row align-center">
    <div class="columns small-12">
      <div class="scheme__list">
        {{#each schemeList}}
          <div class="scheme__item">
            <div class="scheme__icon"><img src="{{schemeIcon}}" width="{{widthImg}}"></div>
            <h3 class="scheme__title">{{schemeTitle}}</h3>
            <ul class="scheme__item-list">
              {{#each schemeItemList }}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
