.home-concept {
  margin-top: 66px;
  @include breakpoint(medium) {
    margin-top: 57px
  }

  @include breakpoint(large) {
    margin-top: 88px;
  }

  &__list-contain {
    overflow: auto;
    padding-top: 94px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-destination: 50% 50%;
    scroll-snap-destination: 50% 50%;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid $line-color;
      padding: 45px 29px $margin-2;
      transition: all $default-time;
      height: 270px;
      text-align: center;
      position: relative;
      background-color: #fff;
      min-width: 278px;
      margin-right: $margin-2;
      -webkit-scroll-snap-coordinate: 50% 50%;
      scroll-snap-coordinate: 50% 50%;
      scroll-snap-align: center;

      @include breakpoint(medium) {
        padding: 45px 22px $margin-2;
        min-width: 290px;
        height: 290px;
        margin-right: $margin-4;
      }

      @include breakpoint(large) {
        min-width: 290px;
        width: 290px;
        margin-right: 0;
      }

      &:not(:last-child)::before {
        content: "";
        position: absolute;
        width: 100px;
        left: 100%;
        top: 50%;
        transform: translate(-50%);
        height: 2px;
        background-color: $line-color;
        z-index: -1;
      }

      &::after {
        position: absolute;
        top: -66px;
        left: 0;
        width: 44px;
        height: 44px;
        border: 2px solid $line-color;
        border-radius: 50%;
        color: $line-color;
        font-size: rem-calc(24);
        line-height: 42px;
        display: inline-block;
        transition: all $default-time;
        @include breakpoint(medium) {
          left: 50%;
          transform: translate(-50%);
        }
      }

      &:nth-child(1) {
        &::after {
          content: '1';
        }
        svg {
          width: 100%;
        }
      }

      &:nth-child(2) {
        svg {
          stroke: $black;
        }

        &::after {
          content: '2';
        }
      }

      &:nth-child(3) {
        svg {
          stroke: $black;
        }

        &::after {
          content: '3';
        }
      }

      &:nth-child(4) {
        svg {
          stroke: $black;
        }

        &::after {
          content: '4';
        }
      }

      i {
        margin-top: 11px;
        min-height: 73px;
        max-height: 73px;
        display: flex;
        align-items: center;
      }

      .icon-box {
        margin-top: 0;
        margin-bottom: 11px;
      }
      .icon-drift {
        margin-top: 5px;
        margin-bottom: 6px;
      }

      p {
        line-height: 1.4;
      }

      h3 {
        margin-top: 37px;
        font-size: rem-calc(22);
        font-family: $ProximaBold;
        @include breakpoint(medium) {
          font-size: rem-calc(24);
        }
      }
      svg {
        transition: all $default-time
      }

      &:hover {
        @include breakpoint(large) {
          background-color: $brand-secondary-color;
          color: #fff;
          border-color: $brand-secondary-color;

          &::after {
            background: $brand-secondary-color;
            border-color: $brand-secondary-color;
            color: #fff;
          }

          &:before {
            background: $brand-secondary-color;
          }

          svg {
            fill: #fff;
          }
        }
      }
      &:not(:nth-child(1)):hover {
        @include breakpoint(large) {
          svg {
            stroke: #fff;
          }
        }
      }
    }
  }
}

.scheme {
  margin-bottom: $margin-6;

  &__img {
    margin: 77px 0;
    width: 100%;
    @include breakpoint(large) {
      margin: $margin-8 0;
    }
  }

  &__title {
    font-family: $ProximaBold;
    font-size: rem-calc(22);
    margin-bottom: 7px;
    @include breakpoint(large) {
      font-size: rem-calc(24);
      margin-bottom: $margin-2;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include breakpoint(medium) {
      flex-direction: row;
      align-items: stretch;
    }

    li {
      margin-bottom: 6px;
    }
  }

  &__item {
    max-width: 510px;
    min-height: 400px;
    width: 100%;
    margin: 0 $margin-2 $margin-2;
    padding: 17px 16px;
    border: 2px solid $line-color;
    @include breakpoint(medium) {
      padding: 27px 27px 16px;
      margin: 0 20px 20px 0;

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint(large) {
      padding: 27px 39px;
      min-height: 440px;
    }

    &-list {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-bottom: $margin-2;
  }
}
