<section class="home-services hideme" id="services">
  <div class="row align-center">
    <div class="columns small-12">
      <h2 class="decor-title icon-underline">{{title}}</h2>
      <div class="section-description">{{description}}</div>
      <div class="home-services__grid">
        {{#each homeServiceGrid }}
          <div class="home-services__grid-item">
            <div class="home-services__grid-item-img" style="background-image: url({{this.image}})"></div>
            {{{this.icon}}}
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
