.news {
  &-top {
    height: 152px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: $ProximaBold;
    margin: 0 $margin-2;
    padding: $margin-2;
    @include breakpoint(medium) {
      height: 210px;
      margin: 0 $margin-4;
      padding: $margin-4;
    }
    @include breakpoint(xxlarge) {
      height: 300px;
      padding: 100px;
      margin: 0 $margin-8;
    }

    h1 {
      font-size: rem-calc(32);
      margin: 0;
      @include breakpoint(medium) {
        font-size: rem-calc(50);
      }
    }
  }
  .icon-arr {
    margin-right: 3px;
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
  }
}
