.header-clone {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  visibility: hidden;
  transition: transform .3s ease,visibility 0s .3s linear;
  z-index: 100;

  &.show {
    transform: translate3d(0,0,0);
    visibility: visible;
    transition: transform .3s ease;
    padding: $margin-2 0 $margin-2 $margin-2;

    @include breakpoint(medium) {
      padding: $margin-4 $margin-2 $margin-4 $margin-4;
    }

    @include breakpoint(large) {
      padding: 21px 80px;
    }
  }
  &.top {
    position: absolute;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translate3d(0,-100%,0);
    transition-property: none;
    transition-duration: 0s;
    z-index: 0;
    opacity: 0;
  }

  // &.active:not(.top) {
  //   transform: translate3d(0,0,0);
  //   height: auto;
  //   position: fixed;
  //   visibility: visible;
  //   opacity: 1;
  //   z-index: 400;
  // }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-2 0 $margin-2 $margin-2;
  z-index: 100;
  top: 0;
  background-color: #fff;
  transition: all $default-time;
  min-height: 100px;
  max-height: 100px;

  @include breakpoint(medium) {
    padding: $margin-4 $margin-2 $margin-4 $margin-4;
    min-height: 140px;
    max-height: 140px;
  }

  @include breakpoint(large) {
    padding: $margin-4 $margin-8;
    min-height: 160px;
    max-height: 160px;
  }

  &.active {
    position: fixed;
    z-index: 400;
  }

  .logo {
    position: relative;
    z-index: 400;
    width: 57%;
    width: 200px;

    @include breakpoint(medium) {
      width: 202px;
    }

    @include breakpoint(large) {
      width: 268px;
    }
  }

  .menu {
    opacity: 0;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    flex-direction: column;
    z-index: 300;
    background-color: #fff;
    padding: calc(#{$header-height-medium} + 23px) 98px 98px;
    transition: top $default-time $default-time, opacity $default-time;

    @include breakpoint(large) {
      display: flex;
      position: static;
      flex-direction: row;
      opacity: 1;
      padding: 0;
    }

    a {
      font-family: $ProximaBold;
      padding: 0.7rem 13px;
      transition: all $default-time;
    }
  }

  .main-nav {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba($black, .5);
      opacity: 0;
      z-index: -1;
      transition: opacity $default-time;
    }

    &.active {
      &::after {
        content: "";
        opacity: 1;
        top: 0;
        transition: opacity $default-time;
      }

      .menu {
        display: flex;
        opacity: 1;
        top: 0;
        transition: opacity $default-time;
      }
    }
  }

  .toggle-menu {
    display: flex;
    width: 30px;
    height: 12px;
    padding: $margin-2;
    box-sizing: content-box;
    position: relative;
    z-index: 400;

    @include breakpoint(large) {
      display: none;
    }

    &.active {
      span {
        &::after {
          transform: rotate(45deg);
          top: 4.5px;
        }

        &::before {
          transform: rotate(-45deg);
          bottom: 4.5px;
        }
      }
    }

    span {
      position: relative;
      height: 12px;
      display: block;

      &::after,
      &::before {
        content: "";
        width: 30px;
        height: 3px;
        background-color: $brand-color;
        position: absolute;
        top: 0;
        border-radius: 4px;
        transition: transform $default-time;
      }

      &::before {
        bottom: 0;
        top: auto;
      }
    }
  }

  &__lang {
    font-family: $ProximaBold;
    white-space: nowrap;
    text-indent: -9999em;
    font-size: 0;
    position: relative;
    z-index: 300;
    transition: all $default-time;

    span {
      display: block;
      text-indent: 0;
      font-size: rem-calc(18);
    }

    @include breakpoint(medium) {
      margin-right: $margin-1;
      text-indent: 0;
      font-size: rem-calc(20);

      span {
        display: none;
      }
    }

    @include breakpoint(large) {
      margin-left: $margin-4;
      margin-right: 0;
      font-size: rem-calc(20);
    }
  }
}
