.fake-header {
  min-height: 100px;
  max-height: 100px;

  @include breakpoint(medium) {
    min-height: 120px;
    max-height: 120px;
  }

  @include breakpoint(large) {
    min-height: 120px;
    max-height: 120px;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-2 0 $margin-2 $margin-2;
  z-index: 300;
  top: 0;
  background-color: #fff;
  transition: all $default-time;
  min-height: 100px;
  max-height: 100px;

  @include breakpoint(medium) {
    padding: $margin-4 $margin-2 $margin-4 $margin-4;
    min-height: 120px;
    max-height: 120px;
  }

  @include breakpoint(large) {
    padding: $margin-4 2.5rem;
    min-height: 120px;
    max-height: 120px;
  }

  @media (min-width: 1440px) {
    padding: $margin-4 $margin-8;
  }

  .logo {
    position: relative;
    z-index: 400;
    width: 57%;
    width: 200px;

    @include breakpoint(medium) {
      width: 268px;
    }
  }

  .menu {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    // transform: translate(0, -100%);
    background-color: #fff;
    display: flex;
    z-index: 300;
    pointer-events: none;
    // transition: transform $default-time 1s, opacity 0;
    padding: calc(140px + 3px) 83px 98px;
    @include breakpoint(medium) {
      padding: calc(#{$header-height-medium} + 23px) 126px 98px;
    }

    @include breakpoint(custom) {
      display: flex;
      position: static;
      flex-direction: row;
      opacity: 1!important;
      padding: 0;
      transform: translate(0);
      transition: all 0s;
      height: auto;
      pointer-events: auto;
    }

    a {
      font-family: $ProximaBold;
      padding: 0.7rem 13px;
      transition: all $default-time;
      font-size: rem-calc(20);
    }
  }


  .main-nav {
    display: flex;
    align-items: center;

    &.active {
      opacity: 1;
      .menu {
        opacity: 1;
        transform: translate(0);
      //  transition: opacity $default-time;
      }
    }
  }

  .toggle-menu {
    display: flex;
    width: 30px;
    height: 12px;
    padding: $margin-2;
    box-sizing: content-box;
    position: relative;
    z-index: 400;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 50px 0;
    @include breakpoint(custom) {
      display: none;
    }

    &.active {
      span {
        &::after {
          transform: rotate(45deg);
          top: 8px;
        }

        &::before {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }

    span {
      position: relative;
      height: 12px;
      display: block;

      &::after,
      &::before {
        content: "";
        width: 30px;
        height: 3px;
        background-color: $brand-color;
        position: absolute;
        top: 0;
        border-radius: 4px;
        transition: all $default-time;
      }

      &::before {
        bottom: 0;
        top: auto;
      }
    }
  }

  &__lang {
    font-family: $ProximaBold;
    white-space: nowrap;
    text-indent: -9999em;
    font-size: 0;
    position: relative;
    z-index: 300;
    transition: all $default-time;

    span {
      display: block;
      text-indent: 0;
      font-size: rem-calc(18);
    }

    @include breakpoint(medium) {
      margin-right: $margin-1;
      text-indent: 0;
      font-size: rem-calc(18);

      span {
        display: none;
      }
    }

    @include breakpoint(large) {
      margin-left: $margin-4;
      margin-right: 0;
      font-size: rem-calc(20);
    }
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  visibility: hidden;
  transition: transform .3s ease,visibility 0s .3s linear;
  z-index: 300;

  &.show {
    transform: translate3d(0,0,0);
    visibility: visible;
    position: fixed;
    transition: transform .3s ease;
    @include breakpoint(large) {
      min-height: 120px;
      max-height: 120px;
    }
  }
  &.top {
    visibility: visible;
    transform: translate3d(0,0,0);
    transition: all $default-time;
  }

  &.active {
    position: fixed;
    z-index: 400;
    visibility: visible;
    transform: translate3d(0,0,0);

    .menu {
      pointer-events: auto;
    }
  }
}
