<section class="news-item-page">
  <div class="row align-center">
    <div class="columns small-12">
      <a href="news.html" class="back-button"><svg class="icon-arr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.33 17"><path d="M16.67,8.5H1.33" transform="translate(-0.33)"/><polyline points="8 16 16.33 8.5 8 1"/></svg><span>Back to all news</span></a>
      <div class="news-item-page__container">
        <span class="news-item-page__date">Oct 18, 2017</span>
        <h1>{{title}}</h1>
        <div class="news-item-page__content">
          {{{text}}}
        </div>
      </div>
      {{> share-page/share-page }}
    </div>
  </div>
</section>
