<section class="news-item-page">
  <div class="row align-center">
    <div class="columns small-12">
      <a href="news.html" class="back-button">
        <i class="icon-arr icon-font"></i>
        <span>Back to all news</span></a>
      <div class="news-item-page__container">
        <span class="news-item-page__date">Oct 18, 2017</span>
        <h1>{{title}}</h1>
        <div class="news-item-page__content">
          {{{text}}}
        </div>
      </div>
      {{> share-page/share-page }}
    </div>
  </div>
</section>
