.home-partner {
  margin-bottom: 61px;

  @include breakpoint(large) {
    margin-bottom: 168px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      margin-top: 42px
    }
    @include breakpoint(large) {
      margin: 0;
    }

    a {
      margin: 2px 62px 0;
      display: block;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .5;
      margin: 2px 2px 30px;
      height: 90px;
      width: 304px;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: grayscale(100%);
      opacity: .5;
      transition: all $default-time;

      &:hover {
        @include breakpoint(large) {
          filter: grayscale(0);
          opacity: 1;
        }
      }

      img {
        max-height: 100%;
      }
    }
  }
}
