.our-customers {
  color: #fff;
  padding: $margin-4 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: $margin-8;
  @include breakpoint(medium) {
    padding: $margin-8 0 $margin-4;
  }

  @include breakpoint(large) {
    margin-bottom: $margin-6*2;
  }
  .decor-title::before {
    color: #fff;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    li {
      margin-bottom: 26px;
      display: flex;
      align-items: center;
      @include breakpoint(medium) {
        width: 30%;
        margin-bottom: $margin-5;
      }

      i {
        margin-right: $margin-1;
      }
    }
  }
}
