<section class="home-contacts hideme" id="contact">
  <div class="row align-center">
    <div class="columns small-12 large-10">
      <h2 class="decor-title icon-underline">{{title}}</h2>
      <p class="section-description">{{description}}</p>
      <div class="home-contacts__list">
        {{#each partnerList}}
          <div class="home-contacts__item">
            <img src="{{this.avatar}}" alt="{{this.name}}" srcset="{{this.responsive}}">
            <div class="home-contacts__item-info">
              <span class="home-contacts__item-name">{{this.name}}</span>
              <div class="home-contacts__item-position">{{this.position}}</div>
              <a href="tel:{{this.tel}}" class="home-contacts__item-tel">{{this.tel}}</a>
              <a href="mailto:{{this.email}}" class="home-contacts__item-email">{{this.email}}</a>
              <a href="{{this.linkedinLink}}" class="linkidin"><i class="icon-font icon-linkedin"></i>{{this.linkedinName}}</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
