{% load i18n %}
{% load l10n %}

 {% for news in news %}
 {% if forloop.first %}
{% if news.text %}<a href="{{news.get_absolute_url}}"{% else %}<div {% endif %} class="news-item  {% if news.image %}news-item__img-contain{% endif %} ">
{% if news.image %}
    <div class="news-item__img" style="background-image:url({{news.get_image}})"></div>
{% endif %}
    <div class="news-item__content">
        <span class="news-item__date">{{news.publication_date|date:"M d, Y"}}</span>
        <p class="news-item__title">{{news.get_title}}</p>
        <p class="news-item__description">{{news.get_text_preview}}</p>
        {% if news.text %}
        <span class="news-item__read-more">{% trans "Les mer" %}</span>
        {% endif %}
    </div>
{% if news.text %}</a>{% else %}</div>{% endif %}
{% else %}
{% if news.text %}<a href="{{news.get_absolute_url}}"{% else %}<div {% endif %}  class="news-item ">
    <div class="news-item__content">
        <span class="news-item__date">{{news.publication_date|date:"M d, Y"}}</span>
        <p class="news-item__title">{{news.get_title}}</p>
        <p class="news-item__description">{{news.get_text_preview}}</p>
        {% if news.text %}
        <span class="news-item__read-more">{% trans "Les mer" %}</span>
        {% endif %}
    </div>
{% if news.text %}</a>{% else %}</div>{% endif %}
{% endif %}
{% endfor %}